

<!DOCTYPE html>
<html lang="en" >


<html>
<Div class=mb-2></Div>
<h4 class= mb-5>Appy for the job here</h4>

<container>
  <div>
    

<form action="/jobs/apply/{{job['id']}}">
  
  <label for="fullname">Full Name:</label><br>
  <input type="text" id="fullname" name="fullname" placeholder='Micheal Jackson'><br>
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email"placeholder="michealjackson@gmail.com" ><br>
  <label for="linkedin">LinkedIn URL:</label><br>
  <input type="url" id="linkedin" name="linkedin"placeholder="michealjackson/linkedin.com"><br>
  <input type="submit" class="btn btn-outline-primary" name="Do" label=Do>
  
</form>


    </div>
  </container>