<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title class="text-center"  mt-2 "mt-4" > Parayil LLC Group </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
  
<body>
  <div class="container">
  <h1 class="text-center">Parayil LLC Group</h1>
  </div>
  
  <img  class="img-fluid" src="static/banner.jpeg" height="30px">
  
    <div class="container">
<h4 class="text-center">About Parayil </h4>
  <p class= text-center >  We pride ourselves on being at the intersection of cutting-edge technology and the dynamic world of real estate finance. Our mission is to empower our clients with innovative solutions that enhance their real estate investments while leveraging the latest advancements in IT</p>
    </div>

    <div class=text-center>
     <button class=btn btn-primary btn-lg>Contact Us</button>
</div>
      
     <div class=text-center>
       <button class=btn btn-primary btn-lg>{{Company }} Open Positions</button>
       </div>

    
  <div class="row d-flex justify-content-center">
  
    <div class="card" style="width: 28rem;">
      
        <ul class="list-group list-group-flush">

           <div class=col>
                 {% for job in jobs %}

              <div class=col>
                <li class="list-group-item"> 
                  <div class=col>
          
                  {{job['title']}} 

                     </div>
         
                   <div class=col>
              <h6 class=text-right>Location: {{job['location']}}</h6>
                    
                     </div>
                  <div class=col>
              <button class=btn btn-primary btn-lg> Apply</button>
                 
                    </div>
                </li>
                 </div>
                  {% endfor %}
              </div>

           


        </ul>
    </div>
  </div>
   

</body>
 
</html>