<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title class="text-center">Parayil LLC Group</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
  
<body>
  <div class="container">
  <h1 class="text-center">Parayil LLC Group</h1>
  </div>
  
  <img  class="img-fluid" src="static/banner.jpeg" height="30px">
  
    <div class="container">
<h4 class="text-center">About Parayil </h4>
    </div>

    <div class="container">
     <button class="text-center">Contact Us</button>
</div>
      

</body>
 
</html>