cockroach db

SdJjsfiDs3HNjdkZ11LM6A

curl --create-dirs -o  pythonweb-parayilLLC/.postgresql/root.crt
'https://cockroachlabs.cloud/clusters/3263bee0-49b6-4ac3-84c6-19f69cb4398d/cert'



connection string 

postgresql://murphy15713_outlook_:SdJjsfiDs3HNjdkZ11LM6A@spore-whippet-14967.7tt.aws-us-east-1.cockroachlabs.cloud:26257/defaultdb?sslmode=verify-full





def load_job_from_db(id):
with engine.connect() as conn:
    val=id
    result=conn.execute(text("SELECT * FROM jobs WHERE id =:val"), {"val":id})

    rows=result.all()

    if len(rows)==0:
        return None
    else:
        return rows[0]._asdict()




        --------------------------

        Working query do not delete

--------------------------------------------------------

        def load_job_from_db():


            DATABASE_URL = os.environ['DB_CONNECTION']


            from sqlalchemy import create_engine

            engine = create_engine(DATABASE_URL)
            conn = engine.connect()


            with engine.connect() as conn:

                sql=text("SELECT * FROM jobs WHERE title  = :id")
                result=conn.execute(sql,{"id":"Data Analyst"})
                #result=conn.execute(sql, ({'id':'975548584460845000'}))




                rows_dict=[]
                for row in result:
                    rows_dict.append(row._asdict())









-------------------------------------------